.clothes-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.item-card {
	flex: 1 0 200px;
	max-width: 185px;
	padding: 40px;
	text-align: center;
	/* background-color: white; */
}

.closet {
	/* background-color: white; */
	background-image: none;
	height: 1300px;
	position: absolute;
}

.add-an-item {
	display: flex;
	/* justify-content: flex-end; */
	margin-top: 0px;
	margin-left: 50px;
	margin-bottom: 50px;
	/* background-color: white; */
}

@media (max-width: 648px) {
	.add-an-item {
		padding-right: 20px;
	}

	/* .closet {
	margin-left: 20px;
		margin-right: 20px;

} */
}
