@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

div#root {
	/* background-color: black; */
	/* margin: 100px; */
	background-image: url("https://res.cloudinary.com/dusr8fbuo/image/upload/v1606334244/clem-onojeghuo-HpEDSZukJqk-unsplash_btqbro.jpg");
	height: 1300px;
}
.Home {
	text-align: center;
	background-size: cover;
	opacity: 0.8;
	margin-top: 100px;
	border: none;
	height: 300px;
	margin: 100px;
	display: flex;
	justify-content: center;
}

.app-name {
	font-family: "Orbitron", sans-serif;
	color: gold;
	font-size: 300px;
	position: fixed;

	/* opacity: 0.5; */
}

@media (max-width: 648px) {
	.Home h1 {
		margin-top: 380px;
		font-size: 100px;
	}
}
