@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

.sign-up-div {
	background-image: url("https://res.cloudinary.com/dusr8fbuo/image/upload/v1606334244/clem-onojeghuo-HpEDSZukJqk-unsplash_btqbro.jpg");
	background-size: cover;
	opacity: 0.9;
	border: none;
	height: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.formDiv {
	margin: auto;
	padding: 20px;
	width: 500px;
	color: gold;
	font-family: "Roboto", sans-serif;
	background-color: aliceblue;
	opacity: 0.8;
	margin-top: 150px;
}

.form-title {
	font-family: "Roboto", sans-serif;
}

.field label {
	color: black;
}
