@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

.formDiv {
	margin: auto;
	padding: 20px;
	width: 500px;
	color: gold;
	font-family: "Roboto", sans-serif;
	background-color: aliceblue;
	opacity: 0.8;
	margin-top: 150px;
}

.form-title {
	font-family: "Roboto", sans-serif;
}

.field label {
	color: black;
}
