@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.greeting {
	display: flex;
	/* justify-content: center; */
	/* background-color: white; */
	/* padding-right: 80px; */
	/* background-color: cornflowerblue; */
	font-family: "Orbitron", sans-serif;
}

.greeting-dark {
	display: flex;
	/* justify-content: center; */
	background-color: black;
}

.greeting h2 {
	margin: auto;
	margin-top: 70px;
	text-align: center;
}

.icon {
	margin-top: 85px;
	margin-right: 30px;
}

#form {
	margin-top: 70px;
	margin: 70px 70px;
}

.search {
	display: flex;
	justify-content: flex-end;
	padding-right: 80px;
}

.loading {
	margin: auto;
	font-size: 80px;
}

@media (max-width: 648px) {
	.greeting h2 {
		font-size: 32px;
	}
}
